In [1]:
import pandas as pd 
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [2]:
headers = {"Accept-language": "en-US,en;q=0.5"}

In [3]:
movie_name = []
years = []
times = []
rating = []
metascore = []
votes = []
gross = []

In [4]:
pages = np.arange(1,1000,100)

In [5]:
for page in pages:
    page = requests.get("https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start="+str(page)+"&ref_=adv_nxt")
    soup = BeautifulSoup(page.text, 'html.parser')
    movie_data = soup.findAll('div', attrs= {'class': 'lister-item mode-advanced'})
    sleep(randint(2,8))

In [6]:
for store in movie_data:
  name = store.h3.a.text
  movie_name.append(name)
  
  year_of_release = store.h3.find('span', class_= 'lister-item-year text-muted unbold').text.replace('(', ' ').replace(')',' ' )
  years.append(year_of_release)

  runtime = store.p.find('span', class_= 'runtime').text.replace(' min','')
  times.append(runtime)
  
  rate = store.find('div', class_='inline-block ratings-imdb-rating').text.replace('\n','')
  rating.append(rate) 
    
  meta = store.find('span', class_='metascore').text.replace(' ','') if store.find('span', class_='metascore') else '^^'
  metascore.append(meta)
    
  value = store.find_all('span', attrs = {'name': 'nv'}) 
  vote = value[0].text
  votes.append(vote)

  grosses = value[1].text if len(value) >1 else '^^^^'
  gross.append(grosses)

In [7]:
movie_list = pd.DataFrame({"Movie Name": movie_name, "Year of release": years, "Watch Time": times, "Movie Rating": rating, "Meta Score": metascore, "Votes": votes, "Gross Collection": gross})

In [10]:
movie_list.head(5)

,Movie Name,Year of release,Watch Time,Movie Rating,Meta Score,Votes,Gross Collection
0,Goldfinger,1964,110,7.7,87,"189,741",$51.08M
1,The Longest Day,1962,178,7.7,75,"55,981",$39.10M
2,Cape Fear,1962,106,7.7,76,"29,299",^^^^
3,Jules et Jim,1962,105,7.7,97,"41,501",^^^^
4,The Magnificent Seven,1960,128,7.7,74,"94,837",$4.91M

In [11]:
movie_list.to_excel("IMDb Top 1000 Movie Details 2022.xlsx")